.e2_2 { 
	overflow:hidden;
}
.e2_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1270px;
	height:2330px;
	position:absolute;
}
.e2_4 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1270px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_5 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:21px;
	position:absolute;
	left:1144px;
	top:131px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e3_4 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:21px;
	position:absolute;
	left:125px;
	top:126px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e3_2 { 
	color:rgba(0, 0, 0, 1);
	width:387px;
	height:38px;
	position:absolute;
	left:487px;
	top:195px;
	font-family:Hind;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_2 { 
	background-color:rgba(3.000000058673322, 152.0000061392784, 158.00000578165054, 1);
	width:1270px;
	height:30px;
	position:absolute;
	left:0px;
	top:160px;
}
.e4_2 { 
	border:5px solid rgba(0, 255, 247.00000047683716, 1);
}
.e4_6 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:21px;
	position:absolute;
	left:89px;
	top:164px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_5 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:21px;
	position:absolute;
	left:1118px;
	top:165px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_20 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:21px;
	position:absolute;
	left:32px;
	top:1710px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_4 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:21px;
	position:absolute;
	left:738px;
	top:164px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_3 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:21px;
	position:absolute;
	left:429px;
	top:165px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e4_8 { 
	width:23px;
	height:24px;
	position:absolute;
	left:92px;
	top:123px;
	background-image:url(images/pesquisa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_9 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1106px;
	top:131px;
	background-image:url(images/menu_aberto_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_22 { 
	width:692px;
	height:336px;
	position:absolute;
	left:38px;
	top:291px;
	background-image:url(images/ford_mustang_pre_1994_s3744483_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_24 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:193px;
	height:21px;
	position:absolute;
	left:38px;
	top:270px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e14_6 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:112px;
	height:21px;
	position:absolute;
	left:38px;
	top:761px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e14_19 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:113px;
	height:21px;
	position:absolute;
	left:32px;
	top:1209px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e15_24 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:68px;
	height:21px;
	position:absolute;
	left:753px;
	top:1209px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e15_27 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:109px;
	height:21px;
	position:absolute;
	left:753px;
	top:1421px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e13_4 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:61px;
	height:21px;
	position:absolute;
	left:760px;
	top:760px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e14_3 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:129px;
	height:21px;
	position:absolute;
	left:753px;
	top:507px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_3 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:114px;
	height:21px;
	position:absolute;
	left:755px;
	top:265px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e10_3 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:21px;
	position:absolute;
	left:38px;
	top:734px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e10_4 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:21px;
	position:absolute;
	left:32px;
	top:1188px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e10_9 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:21px;
	position:absolute;
	left:38px;
	top:240px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e10_12 { 
	color:rgba(0, 0, 0, 1);
	width:717px;
	height:84px;
	position:absolute;
	left:38px;
	top:643px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e11_24 { 
	width:300px;
	height:200px;
	position:absolute;
	left:755px;
	top:784px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_7 { 
	width:300px;
	height:198px;
	position:absolute;
	left:755px;
	top:529px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_2 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:189px;
	position:absolute;
	left:1067px;
	top:528px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e14_5 { 
	width:697px;
	height:307px;
	position:absolute;
	left:38px;
	top:784px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_7 { 
	color:rgba(0, 0, 0, 1);
	width:701px;
	height:42px;
	position:absolute;
	left:32px;
	top:1128px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e14_14 { 
	width:300px;
	height:165px;
	position:absolute;
	left:755px;
	top:1011px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_16 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:105px;
	position:absolute;
	left:1070px;
	top:1037px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_36 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:75px;
	height:21px;
	position:absolute;
	left:755px;
	top:987px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e14_20 { 
	color:rgba(0, 0, 0, 1);
	width:701px;
	height:63px;
	position:absolute;
	left:32px;
	top:1605px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e15_22 { 
	width:300px;
	height:178px;
	position:absolute;
	left:753px;
	top:1232px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_23 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:189px;
	position:absolute;
	left:1065px;
	top:1232px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e15_28 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:198px;
	position:absolute;
	left:1064px;
	top:1443px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e18_5 { 
	width:300px;
	height:197px;
	position:absolute;
	left:753px;
	top:291px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_2 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:120px;
	position:absolute;
	left:1067px;
	top:291px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e19_5 { 
	width:281px;
	height:200px;
	position:absolute;
	left:344px;
	top:1764px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_8 { 
	width:275px;
	height:200px;
	position:absolute;
	left:648px;
	top:1764px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_9 { 
	color:rgba(0, 0, 0, 1);
	width:275px;
	height:126px;
	position:absolute;
	left:648px;
	top:1979px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_11 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:97px;
	height:21px;
	position:absolute;
	left:648px;
	top:1736px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_19 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:35px;
	height:21px;
	position:absolute;
	left:952px;
	top:1736px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_12 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:97px;
	height:21px;
	position:absolute;
	left:344px;
	top:1736px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_16 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:35px;
	height:21px;
	position:absolute;
	left:32px;
	top:1736px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_15 { 
	color:rgba(0, 0, 0, 1);
	width:280px;
	height:84px;
	position:absolute;
	left:32px;
	top:1979px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e19_18 { 
	width:283px;
	height:198px;
	position:absolute;
	left:947px;
	top:1766px;
	background-image:url(images/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_20 { 
	color:rgba(0, 0, 0, 1);
	width:285px;
	height:147px;
	position:absolute;
	left:946px;
	top:1983px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_4 { 
	background-color:rgba(2.9999998211860657, 152.0000061392784, 158.00000578165054, 0.38999998569488525);
	width:1270px;
	height:200px;
	position:absolute;
	left:0px;
	top:2130px;
}
.e28_19 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:21px;
	position:absolute;
	left:323px;
	top:2249px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_89 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:21px;
	position:absolute;
	left:321px;
	top:2274px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_18 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:21px;
	position:absolute;
	left:323px;
	top:2224px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_15 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:22px;
	position:absolute;
	left:323px;
	top:2173px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_9 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:24px;
	position:absolute;
	left:1040px;
	top:2281px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e28_8 { 
	color:rgba(0, 0, 0, 1);
	width:199px;
	height:24px;
	position:absolute;
	left:42px;
	top:2281px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e28_6 { 
	color:rgba(0, 0, 0, 1);
	width:742px;
	height:24px;
	position:absolute;
	left:822px;
	top:2254px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e28_17 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:21px;
	position:absolute;
	left:323px;
	top:2199px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e13_5 { 
	color:rgba(0, 0, 0, 1);
	width:186px;
	height:168px;
	position:absolute;
	left:1068px;
	top:804px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e37_2 { 
	width:701px;
	height:352px;
	position:absolute;
	left:32px;
	top:1232px;
	background-image:url(images/novo_tracker_premier_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_3 { 
	width:298px;
	height:194px;
	position:absolute;
	left:755px;
	top:1447px;
	background-image:url(images/volkswagen_taos_2022_02_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e37_4 { 
	color:rgba(0, 0, 0, 1);
	width:281px;
	height:126px;
	position:absolute;
	left:344px;
	top:1979px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e39_5 { 
	width:288px;
	height:200px;
	position:absolute;
	left:33px;
	top:1764px;
	background-image:url(images/images_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_4 { 
	color:rgba(0, 0, 0, 1);
	width:291px;
	height:24px;
	position:absolute;
	left:943px;
	top:2172px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e55_4 { 
	width:240px;
	height:137px;
	position:absolute;
	left:21px;
	top:2141px;
	background-image:url(images/sem_t_tulo_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_5 { 
	width:240px;
	height:137px;
	position:absolute;
	left:561px;
	top:13px;
	background-image:url(images/sem_t_tulo_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_93 { 
	overflow:hidden;
}
.e28_93 { 
	background-color:rgba(255, 255, 255, 1);
	width:1270px;
	height:2330px;
	position:absolute;
}
.e28_94 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1270px;
	height:160px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_95 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:21px;
	position:absolute;
	left:1144px;
	top:131px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_96 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:21px;
	position:absolute;
	left:125px;
	top:126px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_97 { 
	color:rgba(0, 0, 0, 1);
	width:387px;
	height:38px;
	position:absolute;
	left:487px;
	top:195px;
	font-family:Hind;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e28_98 { 
	background-color:rgba(3.000000058673322, 152.0000061392784, 158.00000578165054, 1);
	width:1270px;
	height:30px;
	position:absolute;
	left:0px;
	top:160px;
}
.e28_98 { 
	border:5px solid rgba(0, 255, 247.00000047683716, 1);
}
.e28_99 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:21px;
	position:absolute;
	left:89px;
	top:164px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_100 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:21px;
	position:absolute;
	left:1118px;
	top:165px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_103 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:21px;
	position:absolute;
	left:738px;
	top:164px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_104 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:21px;
	position:absolute;
	left:429px;
	top:165px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_105 { 
	width:23px;
	height:24px;
	position:absolute;
	left:92px;
	top:123px;
	background-image:url(images.1/pesquisa_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_106 { 
	width:24px;
	height:24px;
	position:absolute;
	left:1106px;
	top:131px;
	background-image:url(images.1/menu_aberto_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_109 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:193px;
	height:21px;
	position:absolute;
	left:647px;
	top:333px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_120 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:21px;
	position:absolute;
	left:38px;
	top:231px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_146 { 
	background-color:rgba(2.9999998211860657, 152.0000061392784, 158.00000578165054, 0.38999998569488525);
	width:1270px;
	height:200px;
	position:absolute;
	left:0px;
	top:2130px;
}
.e28_147 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:21px;
	position:absolute;
	left:323px;
	top:2249px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_148 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:21px;
	position:absolute;
	left:321px;
	top:2274px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_149 { 
	color:rgba(0, 0, 0, 1);
	width:65px;
	height:21px;
	position:absolute;
	left:323px;
	top:2224px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_150 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:22px;
	position:absolute;
	left:323px;
	top:2173px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e28_151 { 
	color:rgba(0, 0, 0, 1);
	width:191px;
	height:24px;
	position:absolute;
	left:1035px;
	top:2279px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e28_152 { 
	color:rgba(0, 0, 0, 1);
	width:199px;
	height:24px;
	position:absolute;
	left:42px;
	top:2281px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e28_153 { 
	width:235px;
	height:97px;
	position:absolute;
	left:32px;
	top:2161px;
	background-image:url(images.1/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_154 { 
	color:rgba(0, 0, 0, 1);
	width:742px;
	height:24px;
	position:absolute;
	left:810px;
	top:2248px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e28_155 { 
	color:rgba(0, 0, 0, 1);
	width:133px;
	height:21px;
	position:absolute;
	left:323px;
	top:2199px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e34_3 { 
	width:581px;
	height:298px;
	position:absolute;
	left:38px;
	top:270px;
	background-image:url(images.1/ford_mustang_shelby_gt500_eleanor_3_798x466_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_6 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:258px;
	height:21px;
	position:absolute;
	left:38px;
	top:667px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_7 { 
	color:rgba(0, 0, 0, 1);
	width:560px;
	height:105px;
	position:absolute;
	left:38px;
	top:693px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_9 { 
	color:rgba(0, 0, 0, 1);
	width:583px;
	height:168px;
	position:absolute;
	left:645px;
	top:361px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_10 { 
	background-color:rgba(0, 0, 0, 1);
	width:1188px;
	height:8px;
	position:absolute;
	left:40px;
	top:909px;
}
.e35_23 { 
	background-color:rgba(0, 0, 0, 1);
	width:1188px;
	height:8px;
	position:absolute;
	left:38px;
	top:1692px;
}
.e35_20 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:324px;
	height:21px;
	position:absolute;
	left:38px;
	top:944px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_22 { 
	color:rgba(0, 0, 0, 1);
	width:1188px;
	height:84px;
	position:absolute;
	left:38px;
	top:973px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_5 { 
	width:583px;
	height:298px;
	position:absolute;
	left:645px;
	top:580px;
	background-image:url(images.1/image_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_25 { 
	width:585px;
	height:262px;
	position:absolute;
	left:40px;
	top:1782px;
	background-image:url(images.1/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_26 { 
	color:rgba(8.511072099208832, 110.30343756079674, 204.26562398672104, 1);
	width:129px;
	height:21px;
	position:absolute;
	left:645px;
	top:1818px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_27 { 
	color:rgba(0, 0, 0, 1);
	width:575px;
	height:126px;
	position:absolute;
	left:645px;
	top:1852px;
	font-family:Heebo;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.e35_32 { 
	width:585px;
	height:303px;
	position:absolute;
	left:40px;
	top:1084px;
	background-image:url(images.1/dodge_challenger_1_1024x614_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_33 { 
	width:581px;
	height:303px;
	position:absolute;
	left:639px;
	top:1084px;
	background-image:url(images.1/dodge_challenger_4_1024x614_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_34 { 
	width:585px;
	height:274px;
	position:absolute;
	left:40px;
	top:1402px;
	background-image:url(images.1/dodge_challenger_3_1024x614_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e35_35 { 
	width:578px;
	height:274px;
	position:absolute;
	left:642px;
	top:1402px;
	background-image:url(images.1/dodge_challenger_2_1024x614_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e44_6 { 
	color:rgba(0, 0, 0, 1);
	width:291px;
	height:67px;
	position:absolute;
	left:936px;
	top:2173px;
	font-family:Hind;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}
.e55_2 { 
	width:240px;
	height:137px;
	position:absolute;
	left:527px;
	top:15px;
	background-image:url(images.1/sem_t_tulo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e55_3 { 
	width:240px;
	height:137px;
	position:absolute;
	left:27px;
	top:2144px;
	background-image:url(images.1/sem_t_tulo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

